# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 30

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 3.33

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
print(total, type(total))

33.33 <class 'float'>

#### 5. assign variable "height" with your height

In [5]:
height = 168

#### 6. asign variable "mass" with your weight

In [6]:
weight = 54

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [7]:
bmi = weight/ (height*height)

#### 8. print value from "bmi" variable

In [8]:
print(bmi)

0.001913265306122449

# String

#### 1. Create variable "name" with your first name

In [9]:
name = "Olivia"

#### 2. Create variable "surname" with your surname

In [10]:
surname = "Han"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [87]:
name_surname = f'{name} {surname}'

#### 4. print variable "name_surname"

In [88]:
print(name_surname)

Olivia Han

#### 5. print first letter from variable "name_surname"

In [15]:
print(name_surname[0])

O

#### 6. print your name (without empty space) from variable "name_surname"

In [20]:
print(name_surname.replace(' ', ""))

OliviaHan

#### 7. print your surname 10x (use variable surname)

In [32]:
surn = 10*(surname+" ")
print(surn)

Han Han Han Han Han Han Han Han Han Han

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [35]:
message = ("Hello my name is {}".format(name_surname))

#### 9. print "message" variable

In [36]:
print(message)

Hello my name is Olivia Han

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [42]:
def string_func (str):
    mid = len(str) // 2
    newstr = str[mid-1:mid+2]
    return newstr

str1 = "JhonDipPeta"
string_func(str1)

'Dip'

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [47]:
def new_string(s1, s2):
    mid = len(s1)//2
    new = s1[:mid]+s2+s1[mid:]
    return new

s1 = "Ault"
s2 = "Kelly"
new_string(s1,s2)

'AuKellylt'

## List

#### 1. create empty list with name "empty_list"

In [48]:
empty_list = []

#### 2. create list "heights" with five random values

In [60]:
import random
heights = []
for i in range(0,5):
    heights.append(random.randint(150, 180))
print(heights)

[159, 168, 153, 160, 152]

#### 3. print heights

In [61]:
print(heights)

[159, 168, 153, 160, 152]

#### 4. print type of variable "heights"

In [62]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [63]:
print(heights[1])

168

#### 6. assign last three values from "heights" to another list "heights_2"

In [64]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [65]:
print(heights_2)

[153, 160, 152]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [66]:
list_all = heights+heights_2

#### 9. print "list_all"

In [67]:
print(list_all)

[159, 168, 153, 160, 152, 153, 160, 152]

#### 10. print the type of "list_all"

In [69]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [70]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [72]:
empty_tuple[0] ="Olivia"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
#Tuple does not support item assignment (cannot add/remove)

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [73]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [78]:
heights_dict ={}
heights_dict["Olivia"] = 168
print(heights_dict)

{'Olivia': 168}

#### 3. asign another name and height to `heights_dict`

In [79]:
heights_dict["Jannie"] = 150

#### 4. print `heights_dict` dictionary

In [80]:
print(heights_dict)

{'Olivia': 168, 'Jannie': 150}

#### 5. print your height from the `heights_dict` dictionary

In [81]:
print(heights_dict["Olivia"])

168

#### 6. print all values from `heights_dict` dictionary

In [83]:
print(heights_dict.values())

dict_values([168, 150])

#### 7. print all keys from `heights_dict` dictionary

In [84]:
print(heights_dict.keys())

dict_keys(['Olivia', 'Jannie'])